{% autoescape off %}
Hello / こんにちは,

You (or someone using your email) requested a password reset for your Shopping List account.
ショッピングリストアカウントのパスワード再設定が要求されました。

To choose a new password, click the link below:
新しいパスワードを設定するには、以下のリンクをクリックしてください。

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request this, no action is needed. Your password will stay the same.
このメールに心当たりがない場合は無視してください。パスワードは変更されません。

Thank you / ありがとうございます  
The Shopping List App
{% endautoescape %}
